.dark {
  position: fixed;
  display: flex;
  background-color: #232323b2;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
.dark_box {
  background-color: #f2f2f2;
  border: grey 2px solid;
  max-width: 400px;
  width: 100vw;
  text-align: center;
  padding: 8px;
}
#btn_dark_close {
  margin-top: 0;
}
